In [1]:
import pandas as pd
df = pd.read_csv("D:/Python/Jupyter/achieves/2008.csv")

In [6]:
df["HoursDelay"] = round(df["ArrDelay"] / 60)

In [3]:
df["HoursDelay"].head()

0   -0.0
1    0.0
2    0.0
3   -0.0
4    1.0
Name: HoursDelay, dtype: float64

In [4]:
del(df["HoursDelay"])

In [7]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,HoursDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,8.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,-0.0
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,10.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,17.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,7.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,-0.0
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,10.0,0.0,NaN,0.0,2.0,0.0,0.0,0.0,32.0,1.0

In [8]:
df.drop(["Diverted", "Cancelled", "Year"], axis = 1)

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,HoursDelay
0,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,...,810.0,4.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.0
1,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,...,810.0,5.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,1,3,4,628.0,620,804.0,750,WN,448,N428WN,...,515.0,3.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,1,3,4,926.0,930,1054.0,1100,WN,1746,N612SW,...,515.0,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.0
4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,...,515.0,3.0,10.0,NaN,2.0,0.0,0.0,0.0,32.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895945,7,19,6,1601.0,1540,1753.0,1712,US,471,N832AW,...,414.0,11.0,32.0,NaN,0.0,0.0,20.0,0.0,21.0,1.0
3895946,7,19,6,1237.0,1200,1357.0,1332,US,572,N155AW,...,414.0,6.0,10.0,NaN,0.0,0.0,0.0,0.0,25.0,0.0
3895947,7,19,6,1329.0,1335,1451.0,1507,US,573,N647AW,...,414.0,3.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.0
3895948,7,19,6,625.0,630,1452.0,1459,US,651,N648AW,...,2521.0,3.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.0
3895949,7,19,6,1043.0,1045,1850.0,1914,US,658,N827AW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.0

In [9]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,HoursDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,8.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,-0.0
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,10.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,17.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,7.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,-0.0
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,10.0,0.0,NaN,0.0,2.0,0.0,0.0,0.0,32.0,1.0

In [10]:
df = df.drop(["Diverted", "Cancelled", "Year"], axis = 1)

In [11]:
df.head()

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,HoursDelay
0,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,...,810.0,4.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.0
1,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,...,810.0,5.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,1,3,4,628.0,620,804.0,750,WN,448,N428WN,...,515.0,3.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,1,3,4,926.0,930,1054.0,1100,WN,1746,N612SW,...,515.0,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.0
4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,...,515.0,3.0,10.0,NaN,2.0,0.0,0.0,0.0,32.0,1.0

In [ ]:
df.drop(["Diverted", "Cancelled", "Year"], axis = 1, inplace = True)

In [12]:
df.drop(0)

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,HoursDelay
1,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,...,810.0,5.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,1,3,4,628.0,620,804.0,750,WN,448,N428WN,...,515.0,3.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,1,3,4,926.0,930,1054.0,1100,WN,1746,N612SW,...,515.0,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.0
4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,...,515.0,3.0,10.0,NaN,2.0,0.0,0.0,0.0,32.0,1.0
5,1,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,...,688.0,4.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895945,7,19,6,1601.0,1540,1753.0,1712,US,471,N832AW,...,414.0,11.0,32.0,NaN,0.0,0.0,20.0,0.0,21.0,1.0
3895946,7,19,6,1237.0,1200,1357.0,1332,US,572,N155AW,...,414.0,6.0,10.0,NaN,0.0,0.0,0.0,0.0,25.0,0.0
3895947,7,19,6,1329.0,1335,1451.0,1507,US,573,N647AW,...,414.0,3.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.0
3895948,7,19,6,625.0,630,1452.0,1459,US,651,N648AW,...,2521.0,3.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.0
3895949,7,19,6,1043.0,1045,1850.0,1914,US,658,N827AW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.0

In [13]:
df.drop(range(0,100000))

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,HoursDelay
100000,1,30,3,1936.0,1935,2258.0,2257,XE,7676,N11176,...,866.0,7.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
100001,1,3,4,607.0,600,858.0,852,XE,7677,N14177,...,619.0,7.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
100002,1,4,5,552.0,600,849.0,852,XE,7677,N33182,...,619.0,6.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.0
100003,1,5,6,552.0,600,940.0,852,XE,7677,N17169,...,619.0,9.0,15.0,NaN,0.0,0.0,48.0,0.0,0.0,1.0
100004,1,7,1,637.0,600,935.0,852,XE,7677,N11181,...,619.0,4.0,36.0,NaN,37.0,0.0,6.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895945,7,19,6,1601.0,1540,1753.0,1712,US,471,N832AW,...,414.0,11.0,32.0,NaN,0.0,0.0,20.0,0.0,21.0,1.0
3895946,7,19,6,1237.0,1200,1357.0,1332,US,572,N155AW,...,414.0,6.0,10.0,NaN,0.0,0.0,0.0,0.0,25.0,0.0
3895947,7,19,6,1329.0,1335,1451.0,1507,US,573,N647AW,...,414.0,3.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.0
3895948,7,19,6,625.0,630,1452.0,1459,US,651,N648AW,...,2521.0,3.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.0
3895949,7,19,6,1043.0,1045,1850.0,1914,US,658,N827AW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.0

In [14]:
dfATL = df[df.Origin == "ATL"]
dfHOU = df[df.Origin == "HOU"]

In [17]:
newdf = dfATL.append(dfHOU)

C:\Users\leona\AppData\Local\Temp\ipykernel_20620\2142884134.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  newdf = dfATL.append(dfHOU)

In [19]:
newdf =pd.concat([dfATL,dfHOU])

In [20]:
newdf.Origin

103149     ATL
103572     ATL
104019     ATL
104124     ATL
104485     ATL
          ...
3699155    HOU
3699156    HOU
3699157    HOU
3699158    HOU
3699159    HOU
Name: Origin, Length: 240845, dtype: object