In [3]:
import pandas as pd
df = pd.read_csv("D:/Python/achieves/2008.csv", nrows=1e6)

In [5]:
dfduplicate =pd.concat([df,df])

In [6]:
dfduplicate = dfduplicate.sample(frac=1)

In [7]:
dfclean = dfduplicate.drop_duplicates()

In [8]:
len(dfclean) == len(df)

False

In [9]:
len(dfclean)

999996

In [10]:
len(df)

1000000

In [11]:
dfclean.drop_duplicates(subset = "DayofMonth")

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
260873,2008,1,4,5,1907.0,1910,2133.0,2114,US,1502,...,19.0,19.0,0,NaN,0,0.0,0.0,19.0,0.0,0.0
608253,2008,2,3,7,1354.0,1335,1546.0,1535,WN,1536,...,4.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
179949,2008,1,7,1,1011.0,800,1210.0,956,OO,5861,...,5.0,20.0,0,NaN,0,0.0,134.0,0.0,0.0,0.0
986057,2008,2,21,4,1158.0,1130,1407.0,1400,MQ,4048,...,8.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
842680,2008,2,13,3,607.0,600,901.0,909,UA,1442,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
227655,2008,1,8,2,846.0,839,1343.0,1352,UA,348,...,5.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
713666,2008,2,26,2,1651.0,1650,1911.0,1905,XE,2798,...,6.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
164155,2008,1,23,3,1850.0,1855,2008.0,2044,OH,5478,...,8.0,35.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
669752,2008,2,22,5,636.0,635,943.0,945,WN,362,...,2.0,26.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
655203,2008,2,18,1,1936.0,1935,1935.0,1940,WN,890,...,5.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
71544,2008,1,25,5,1202.0,1210,1423.0,1425,WN,281,...,4.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
46525,2008,1,17,4,1804.0,1650,2051.0,1915,WN,3234,...,11.0,12.0,0,NaN,0,0.0,0.0,84.0,0.0,12.0
599302,2008,1,10,4,759.0,800,1005.0,1009,DL,619,...,9.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
135022,2008,1,9,3,2220.0,2220,2315.0,2341,YV,2681,...,3.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
252937,2008,1,11,5,1140.0,1140,1342.0,1347,UA,1508,...,6.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
145835,2008,1,24,4,710.0,715,755.0,806,YV,2639,...,11.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
159437,2008,1,15,2,1410.0,1315,1540.0,1459,OH,5645,...,3.0,18.0,0,NaN,0,41.0,0.0,0.0,0.0,0.0
531115,2008,1,29,2,705.0,715,740.0,752,AQ,201,...,5.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
892704,2008,2,16,6,1000.0,1005,1323.0,1335,DL,1458,...,8.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
158857,2008,1,14,1,1207.0,1207,1333.0,1346,OH,5627,...,8.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
616363,2008,2,6,3,803.0,805,853.0,900,WN,1452,...,3.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
712724,2008,2,20,3,1519.0,1500,1619.0,1607,XE,2040,...,4.0,26.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
825871,2008,2,12,2,1915.0,1819,2242.0,2141,UA,514,...,5.0,12.0,0,NaN,0,0.0,0.0,5.0,0.0,56.0
215821,2008,1,30,3,2121.0,2131,2213.0,2234,OO,5775,...,4.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
294497,2008,1,31,4,1907.0,1900,2025.0,2014,US,2184,...,6.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
905814,2008,2,27,3,2243.0,2250,739.0,750,DL,550,...,7.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
112011,2008,1,19,6,905.0,855,1120.0,1114,XE,3128,...,6.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
519976,2008,1,1,2,1024.0,940,1236.0,1205,AA,1909,...,10.0,19.0,0,NaN,0,0.0,0.0,31.0,0.0,0.0
809441,2008,2,28,4,1406.0,1408,1436.0,1448,OO,6747,...,3.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
176236,2008,1,5,6,2037.0,1925,2154.0,2055,OO,4069,...,6.0,14.0,0,NaN,0,0.0,0.0,0.0,0.0,59.0
377126,2008,1,2,3,1645.0,1640,1714.0,1709,HA,190,...,5.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [12]:
df.dropna(subset=["CancellationCode"])

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
178,2008,1,3,4,NaN,700,NaN,830,WN,126,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
373,2008,1,3,4,NaN,1100,NaN,1215,WN,1146,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
399,2008,1,3,4,NaN,905,NaN,1025,WN,469,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
401,2008,1,3,4,NaN,1620,NaN,1740,WN,618,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
415,2008,1,3,4,NaN,1930,NaN,2035,WN,2528,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999913,2008,2,11,1,NaN,855,NaN,1210,MQ,4693,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
999919,2008,2,17,7,NaN,855,NaN,1210,MQ,4693,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999961,2008,2,17,7,NaN,1445,NaN,1630,MQ,4694,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999971,2008,2,22,5,NaN,1235,NaN,1415,MQ,4694,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999999,2008,2,17,7,NaN,1655,NaN,2005,MQ,4695,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN