In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("D:/Python/achieves/2008.csv")

In [3]:
np.random.seed(0)
df = df[df["Origin"].isin(["HOU","ATL","IND"])]
df = df.sample(frac = 1)
df = df[0:10000]

In [4]:
df["BigDelay"] = df["ArrDelay"] > 30
#Tabla de contingencia que guarda las columnas BigDelay y Origin, 
#con margin=True tambien guarda los margenes de la tabla
observados = pd.crosstab(index=df["BigDelay"], columns=df["Origin"], margins = True)

In [5]:
observados

Origin     ATL   HOU  IND    All
BigDelay
False     6790  1039  782   8611
True      1082   197  110   1389
All       7872  1236  892  10000

In [6]:
from scipy.stats import chi2_contingency

In [7]:
test = chi2_contingency(observados)

In [8]:
test
#primer numero es igual a la suma de las diferencias al cuadrado
#el segundo numero es el p valor el cual permite tomar decisiones dependiendo de algun criterio
#la tabla es una tabla de valore esperados

(6.285680442086726,
 0.3919605992381303,
 6,
 array([[ 6778.5792,  1064.3196,   768.1012,  8611.    ],
        [ 1093.4208,   171.6804,   123.8988,  1389.    ],
        [ 7872.    ,  1236.    ,   892.    , 10000.    ]]))

In [9]:
esperados = pd.DataFrame(test[3])

In [10]:
esperados

           0          1         2        3
0  6778.5792  1064.3196  768.1012   8611.0
1  1093.4208   171.6804  123.8988   1389.0
2  7872.0000  1236.0000  892.0000  10000.0

In [12]:
esperados_rel = round(esperados.apply(lambda r: r/len(df)*100, axis=1),2)

In [13]:
observados_rel = round(observados.apply(lambda r: r/len(df)*100, axis=1),2)

In [14]:
observados_rel

Origin      ATL    HOU   IND     All
BigDelay
False     67.90  10.39  7.82   86.11
True      10.82   1.97  1.10   13.89
All       78.72  12.36  8.92  100.00

In [15]:
esperados_rel

       0      1     2       3
0  67.79  10.64  7.68   86.11
1  10.93   1.72  1.24   13.89
2  78.72  12.36  8.92  100.00

In [16]:
test[1]

0.3919605992381303